.parent {
  font-family: var(----special-font);
  color: var(--HeaderTextColor);
}

.menuMyProfile {
  display: flex;
  justify-content: space-between;
}
.text {
  font-size: 17px;
  font-family: var(--btn-font);
  color: var(--Accent);
}

.line {
  background-color: var(--Line);
  width: 100%;
  height: 1px;
  opacity: 34%;
  margin-top: 10px;
}

.parent {
  margin-top: 40px;
  margin-bottom: 50px;
}

.link{
text-decoration: none;
}