.img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
/* .searchBar {
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid var(--HeaderTextColor);
} */

.wrapperBookTextContent{
   display: flex;
   gap: var(--spacing-md);
   flex-wrap: wrap;
   
} 