:root {
  --Primary: #fafffb;
  --Secondary: #90A9A4;
  --Accent: #2F3138;
  --HeaderTextColor: #455C59;
  --Footer: #AAB8B3;
  --Button: #3A4B49;
  --Inputfild: #fafffb;
  --Line: #0E2D26;
  --spacing-base: 5px;
  --spacing-xs: calc(var(--spacing-base) * 1);
  --spacing-sm: calc(var(--spacing-base) * 2);
  --spacing-md: calc(var(--spacing-base) * 3);
  --spacing-lg: calc(var(--spacing-base) * 4);
  --spacing-xl: calc(var(--spacing-base) * 5);
  --spacing-xxl: calc(var(--spacing-base) * 10);
}

body {
  background-color: var(--primary);
  margin: unset;
}

p{
  margin: unset;
}   

/* Created varibles for spacing and color */