.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.landingPageContainerOne {
  padding: 10px 20px 50px 20px;
}

.headerText {
  font-size: 24px;
  color: var(--secondary);
}

.headerText {
  font-family: var(--special-font);
  color: var(--HeaderTextColor);
  font-size: 65px;
  display: flex;
  justify-content: center;
  margin: unset;
  
}

.welcome {
  font-family: var(--welcome-font);
  display: flex;
  justify-content: center;
  font-size: 27px;
  color: var(--Accent);
  padding-top: 60px;
  
}

.imgCtaContent {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

.img {
  margin-top: 58px;
  position: absolute;
  width: 160px;
  height: 250px;
  border-radius: 10px;
  box-shadow: -26px 18px 6px 0px rgba(0, 0, 0, 0.158);
}

.cta {
  font-family: var(--special-font);
  color: var(--HeaderTextColor);
  font-size: 22px;
  margin-top: 50px;
}
.footerTextContent {
  display: flex;
  background-color: var(--Footer);
  height: 100%;
  padding: 20px;
  font-family: var(--primary-font);
}
.footerTextContainer {
  margin-top: 130px;
  width: 100%;
}
.footerText {
  margin-top: 10px;
  color: var(--Accent);
  font-size: 20px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.homePBtn {
  width: 200px;
}
