.parentWrapper {
  margin-top: var(--spacing-m);
  width: calc((100% - var(--spacing-md) * 1) / 2);
  display: flex;
  flex-direction: column;
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 230px;
  display: flex;
}

.wrapperBookTextContent {
  margin-top: 5px;
}

.heartAndUserNameWrapper {
  display: flex;
  justify-content: space-between;
  color: var(--HeaderTextColor);
  font-size: 12px;
  margin-top: 5px;
}

.price {
  font-size: 14px;
  font-family: var(--price-font);
  margin-bottom: 4px;
}

.bookTitle {
  font-size: 14px;
  font-family: var(--special-font);
}

.heartCard {
  display: flex;
}

.cartWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.link{
  text-decoration: underline;
  color: var(--HeaderTextColor);
}