.rootInputField {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid var(--Footer);
  padding-right: 35px;
  outline: none;
  color: var(--HeaderTextColor);
}

.parentWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  
}

.rightIcon {
  height: 100%;
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
}
