
.imageWrapper {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
  }
  .rootImg {
    position: absolute;
  }
  
  .userName {
    font-size: 16px;
    margin-top: 39px;
    color: var(--HeaderTextColor);
    text-decoration: underline;
  }

  .layout {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 9px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

