
.imageWrapper {
    position: relative;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
  }
  .rootImg {
    position: absolute;
  }
  
  .userName {
    font-size: 18px;
    margin-top: 5px;
    color: var(--HeaderTextColor);
  }

  .layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
  }